/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #64A4A2;
  font-weight: 400;
  text-decoration: none; }

body {
  width: 100%;
  color: #4A4A4A;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; }
  @media screen and (min-width: 1200px) {
    body {
      width: 1200px;
      margin: 0 auto; } }

dd {
  margin-bottom: 12px;
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300; }

dt {
  margin-bottom: 12px;
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300; }

footer {
  margin: 25px;
  padding: 20px 0 0;
  border-top: 2px solid #5C7C4B; }
  @media screen and (min-width: 600px) {
    footer {
      width: 550px;
      margin: 0 auto; } }
  footer p {
    text-align: center; }

h1 {
  text-align: center; }

h2 {
  margin: 25px 0;
  padding-bottom: 13px;
  border-bottom: 2px solid #5C7C4B;
  color: #5C7C4B;
  font-family: "Teko", sans-serif;
  font-size: 4.3em;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase; }
  h2 a {
    color: #5C7C4B; }

header {
  padding: 65px 25px 10px; }

img {
  max-width: 100%; }

input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  padding: 5px;
  border: 1px solid #4A4A4A;
  color: #4A4A4A;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300; }

label,
.label {
  display: block;
  margin-top: 7px;
  margin-bottom: 5px; }

li {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300; }

main {
  box-sizing: border-box;
  padding: 25px; }

p {
  margin-bottom: 25px;
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300; }

strong {
  color: #C2762E;
  font-style: italic;
  font-weight: 600; }

nav {
  margin-top: -6px; }
  nav a {
    display: block;
    padding: 2px 5px;
    color: #4A4A4A;
    font-weight: 300; }
  nav li {
    margin: 0 33px;
    border-top: 3px solid transparent;
    font-size: 2.3em;
    text-align: center; }
    nav li.active {
      border-color: #C2762E; }
      nav li.active a {
        color: #C2762E;
        font-weight: 700; }
  nav > ul {
    display: flex;
    justify-content: center; }

@media screen and (min-width: 760px) {
  .grid-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: "banner banner hrs" "banner banner about" "menu   orders about"; } }
.grid-home .about {
  grid-area: about; }
.grid-home .banner {
  grid-area: banner; }
.grid-home .hrs {
  grid-area: hrs; }
.grid-home .menu {
  grid-area: menu; }
.grid-home .orders {
  grid-area: orders; }

.grid-info {
  display: grid;
  grid-template-columns: 2fr 3fr; }

.grid-order-form li,
.grid-order-form .grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 12px; }
  .grid-order-form li.input, .grid-order-form li.textarea,
  .grid-order-form .grid-item.input,
  .grid-order-form .grid-item.textarea {
    grid-template-areas: "label label" "field field"; }
    .grid-order-form li.input label, .grid-order-form li.textarea label,
    .grid-order-form .grid-item.input label,
    .grid-order-form .grid-item.textarea label {
      grid-area: label; }
    .grid-order-form li.input input,
    .grid-order-form li.input textarea, .grid-order-form li.textarea input,
    .grid-order-form li.textarea textarea,
    .grid-order-form .grid-item.input input,
    .grid-order-form .grid-item.input textarea,
    .grid-order-form .grid-item.textarea input,
    .grid-order-form .grid-item.textarea textarea {
      grid-area: field; }
  .grid-order-form li.radios,
  .grid-order-form .grid-item.radios {
    grid-template-areas: "label label" "r1    r2"; }
    .grid-order-form li.radios .label,
    .grid-order-form .grid-item.radios .label {
      grid-area: label; }
    .grid-order-form li.radios label:nth-of-type(1),
    .grid-order-form .grid-item.radios label:nth-of-type(1) {
      grid-area: r1; }
    .grid-order-form li.radios label:nth-of-type(2),
    .grid-order-form .grid-item.radios label:nth-of-type(2) {
      grid-area: r2; }
  .grid-order-form li input[type="submit"],
  .grid-order-form .grid-item input[type="submit"] {
    margin-left: 0; }
@media screen and (min-width: 600px) {
  .grid-order-form {
    width: 600px;
    margin: 0 auto; }
    .grid-order-form label,
    .grid-order-form .label {
      margin-top: 7px;
      margin-right: 50px;
      text-align: right; }
    .grid-order-form li,
    .grid-order-form .grid-item {
      margin-bottom: 25px;
      grid-template-columns: 4fr 3fr 3fr 2fr; }
      .grid-order-form li.input,
      .grid-order-form .grid-item.input {
        grid-template-areas: "label field field ."; }
      .grid-order-form li.radios,
      .grid-order-form .grid-item.radios {
        grid-template-areas: "label r1    r2    ."; }
      .grid-order-form li.textarea,
      .grid-order-form .grid-item.textarea {
        grid-template-areas: "label field field field"; } }

.allergies {
  margin-top: 50px;
  text-align: center; }
  .allergies strong {
    display: block; }

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .categories li {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    font-size: 1em;
    text-align: center; }
    @media screen and (min-width: 760px) {
      .categories li {
        width: 33.3333333333%; } }
    .categories li b {
      display: block;
      margin-bottom: 8px;
      color: #64A4A2;
      font-family: "Teko", sans-serif;
      font-size: 2.3em;
      font-weight: 700;
      text-transform: lowercase; }
    .categories li img {
      display: block;
      margin: 0 auto; }

.grid-item {
  font-size: 1em; }
  .grid-item input {
    display: block;
    box-sizing: border-box;
    width: 250px;
    margin: 0 auto;
    padding: 15px 25px;
    background-color: #64A4A2;
    border: none;
    outline: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center; }

.hrs {
  margin-top: 25px; }

@media screen and (min-width: 600px) {
  .intro {
    width: 550px;
    margin: 0 auto; } }

.order {
  margin-top: 50px;
  font-size: 1em; }
  .order a {
    box-sizing: border-box;
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 15px 25px;
    background-color: #64A4A2;
    border: none;
    outline: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center; }

.page-home h2 {
  margin-top: 0; }

.products {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; }
  .products li {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    font-size: 1em;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .products li {
        width: 33.3333333333%; } }
    @media screen and (min-width: 800px) {
      .products li {
        width: 25%; } }
    @media screen and (min-width: 1000px) {
      .products li {
        width: 20%; } }
    .products li b {
      display: block;
      margin-bottom: 8px;
      color: #64A4A2;
      font-family: "Teko", sans-serif;
      font-size: 1.9em;
      font-weight: 500;
      text-transform: lowercase; }
    .products li img {
      display: block;
      margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
