@import 'vars';
@import 'mixins';

a {
  color: $color-accent;
  font-weight: 400;
  text-decoration: none;
}

body {
  width: 100%;
  color: $color-body;
  font-family: $font-primary;
  font-size: 62.5%;

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}
dd {
  margin-bottom: 12px;
  @include font-setup(1.6em, 1.5625em, 300);
}
dt {
  margin-bottom: 12px;
  @include font-setup(1.6em, 1.5625em, 300);
}
footer {
  margin: 25px;
  padding: 20px 0 0;
  border-top: 2px solid $color-primary;

  @media screen and (min-width: 600px) {
    width: 550px;
    margin: 0 auto;
  }

  p { text-align: center; }
}

h1 { text-align: center; }

h2 {
  margin: 25px 0;
  padding-bottom: 13px;
  border-bottom: 2px solid $color-primary;
  color: $color-primary;
  font-family: $font-secondary;
  font-size: 4.3em;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase;

  a { color: $color-primary; }
}

header { padding: 65px 25px 10px; }

img { max-width: 100%; }

input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  padding: 5px;
  border: 1px solid $color-body;
  color: $color-body;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: 300;
}

label,
.label {
  display: block;
  margin-top: 7px;
  margin-bottom: 5px;
}

li { @include font-setup(1.6em, 1.5625em, 300); }

main {
  box-sizing: border-box;
  padding: 25px;
}

p {
  margin-bottom: 25px;
  @include font-setup(1.6em, 1.5625em, 300);
}

strong {
  color: $color-secondary;
  font-style: italic;
  font-weight: 600;
}
