nav {
  margin-top: -6px;
}
nav a {
  color: $color-body;
  font-weight: 300;
  display: block;
  padding: 2px 5px;
}
nav li {
  margin: 0 33px;
  text-align: center;
  font-size: 2.3em;
  border-top: 3px solid transparent;
}
nav li.active {
  border-color: #C2762E;
}
nav li.active a {
  color: #C2762E;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: center;
}
