@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600');

$color-accent: #64A4A2;
$color-body: #4A4A4A;
$color-primary: #5C7C4B;
$color-secondary: #C2762E;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Teko", sans-serif;
