@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600');

a {
  color: #64A4A2;
  font-weight: 400;
  text-decoration: none;
}
.allergies {
  margin-top: 50px;
  text-align: center;
}
.allergies strong {
  display: block;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  color: #4A4A4A;
  width: 100%;
  border: 1px solid red;
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
}
.categories {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.categories li {
  text-align: center;
  font-size: 1em;
}
.categories li img {
  display: block;
  margin: 0 auto;
}
.categories li b {
  display: block;
  font-family: "Teko", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #64A4A2;
  margin-bottom: 8px;
  text-transform: lowercase;
}
.categories li {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
@media screen and (min-width: 760px) {
  .categories li {
    width: 33%;
  }
}
dd {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 12px;
}
dt {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 12px;
}
footer {
  margin: 25px;
  border-top: 2px solid #5C7C4B;
  padding: 20px 0 0;
}
footer p {
  text-align: center;
}
@media screen and (min-width: 600px) {
  footer {
    width: 550px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 760px) {
  .grid-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: "banner banner hrs" "banner banner about" "menu   orders about";
  }
}
.grid-home .about {
  grid-area: about;
}
.grid-home .banner {
  grid-area: banner;
}
.grid-home .hrs {
  grid-area: hrs;
}
.grid-home .menu {
  grid-area: menu;
}
.grid-home .orders {
  grid-area: orders;
}
.grid-info {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.grid-item {
  font-size: 1em;
}
.grid-item input {
  display: block;
  background-color: #64A4A2;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 25px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}
.grid-order-form li,
.grid-order-form .grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 12px;
}
.grid-order-form li.input,
.grid-order-form .grid-item.input,
.grid-order-form li.textarea,
.grid-order-form .grid-item.textarea {
  grid-template-areas: "label label" "field field";
}
.grid-order-form li.input label,
.grid-order-form .grid-item.input label,
.grid-order-form li.textarea label,
.grid-order-form .grid-item.textarea label {
  grid-area: label;
}
.grid-order-form li.input input,
.grid-order-form .grid-item.input input,
.grid-order-form li.textarea input,
.grid-order-form .grid-item.textarea input,
.grid-order-form li.input textarea,
.grid-order-form .grid-item.input textarea,
.grid-order-form li.textarea textarea,
.grid-order-form .grid-item.textarea textarea {
  grid-area: field;
}
.grid-order-form li.radios,
.grid-order-form .grid-item.radios {
  grid-template-areas: "label label" "r1 r2";
}
.grid-order-form li.radios .label,
.grid-order-form .grid-item.radios .label {
  grid-area: label;
}
.grid-order-form li.radios label:nth-of-type(1),
.grid-order-form .grid-item.radios label:nth-of-type(1) {
  grid-area: r1;
}
.grid-order-form li.radios label:nth-of-type(2),
.grid-order-form .grid-item.radios label:nth-of-type(2) {
  grid-area: r2;
}
.grid-order-form li input[type="submit"],
.grid-order-form .grid-item input[type="submit"] {
  margin-left: 0;
}
@media screen and (min-width: 600px) {
  .grid-order-form {
    width: 600px;
    margin: 0 auto;
  }
  .grid-order-form label,
  .grid-order-form .label {
    margin-top: 7px;
    margin-right: 50px;
    text-align: right;
  }
  .grid-order-form li,
  .grid-order-form .grid-item {
    margin-bottom: 25px;
    grid-template-columns: 4fr 3fr 3fr 2fr;
  }
  .grid-order-form li.input,
  .grid-order-form .grid-item.input {
    grid-template-areas: "label field field .";
  }
  .grid-order-form li.radios,
  .grid-order-form .grid-item.radios {
    grid-template-areas: "label r1 r2 .";
  }
  .grid-order-form li.textarea,
  .grid-order-form .grid-item.textarea {
    grid-template-areas: "label field field field";
  }
}
h1 {
  text-align: center;
}
h2 {
  font-family: "Teko", sans-serif;
  font-size: 4.3em;
  font-weight: 500;
  text-align: center;
  color: #5C7C4B;
  text-transform: lowercase;
  border-bottom: 2px solid #5C7C4B;
  margin: 25px 0;
  padding-bottom: 13px;
}
h2 a {
  color: #5C7C4B;
}
header {
  padding: 65px 25px 10px;
}
.hrs {
  margin-top: 25px;
}
img {
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  .intro {
    width: 550px;
    margin: 0 auto;
  }
}
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  padding: 5px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
}
label,
.label {
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
}
li {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
}
main {
  box-sizing: border-box;
  padding: 25px;
}
nav {
  margin-top: -6px;
}
nav a {
  color: #4A4A4A;
  font-weight: 300;
  display: block;
  padding: 2px 5px;
}
nav li {
  margin: 0 33px;
  text-align: center;
  font-size: 2.3em;
  border-top: 3px solid transparent;
}
nav li.active {
  border-color: #C2762E;
}
nav li.active a {
  color: #C2762E;
  font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: center;
}
.order {
  font-size: 1em;
  margin-top: 50px;
}
.order a {
  display: block;
  background-color: #64A4A2;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 25px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}
p {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 25px;
}
.page-home h2 {
  margin-top: 0;
}
.products {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.products li {
  text-align: center;
  font-size: 1em;
}
.products li img {
  display: block;
  margin: 0 auto;
}
.products li b {
  display: block;
  font-family: "Teko", sans-serif;
  font-size: 1.9em;
  font-weight: 500;
  color: #64A4A2;
  margin-bottom: 8px;
  text-transform: lowercase;
}
.products li {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .products li {
    width: 33%;
  }
}
@media screen and (min-width: 800px) {
  .products li {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .products li {
    width: 20%;
  }
}
strong {
  font-style: italic;
  font-weight: 600;
  color: #C2762E;
}
