// Colors
$color-accent: #64a4a2;
$color-accent-hover: darken($color-accent, 10%);
$color-body: #4a4a4a;
$color-primary: #5c7c4b;
$color-secondary: #c2762e;

// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Teko", sans-serif;
